body::-webkit-scrollbar{
    display: none;
}
h1{
    
    text-align: center;
    color: #30dede;
    padding:20px;
    margin:-2px;
font-family:'Times New Roman',sans-serif;
font-size:25px;
}
.loginContainer{
    text-align: center;
     background-color:rgb(0,0,0,0.4);
     height:fit-content;
      width:fit-content;
      padding:10px 30px;
      border-radius: 20px;
      display:flex;
      flex-direction: column;
      position: absolute;
      top:30%;
      left:35%;
      
}
.divContainer{
    display:flex;
    gap:5px;
    justify-content:left;
    flex-direction:row;
    color:white;

}
.divInput{
    flex:1;
    border-radius:20px;
    border: none;
    padding-left: 15px;
}
.divbutton{
   
    display: flex;
    justify-content:end;


}
.button{
border-radius:20px;
width:40px;
height:40px;
background-color:hsl(23, 100%, 50%);
border:olive;
}